.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer-id
{
  background-color:rgb(255, 72, 5);
}

.navbar li
{
  padding: 10px 20px;
  list-style: none;
  
}
.navbar li a
{
  text-decoration: none;
  color: black;
}
.footer-ul-li ul li
{
  list-style: none;
}
.footer-ul-li ul li a
{
  text-decoration: none;
  color: white;
  
}